*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #22c55e;
    --terciaria: rgba(255, 255, 255, 0.6);
    --escuro: #0b0f1a;
    --maisescuro: #05070f;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.08);
    --sombra: 0 10px 30px rgba(0, 0, 0, 0.3);
    --transicao: 0.3s ease;
}

body {
    background-color: var(--escuro);
    color: var(--claro);
    line-height: 1.5;
}

#background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1.5s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(5, 7, 15, 0.80),
        rgba(5, 7, 15, 0.85)
    );
    z-index: -2;
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(20, 20, 20, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.0rem;
}

.menu { 
    display: flex; 
    justify-content: center; 
    list-style: none; 
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: linear-gradient(90deg, var(--primaria), var(--secundaria));
    /* color: var(--claro); */
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 5px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_enemelhor {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(28, 17, 237, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: girar 12s linear infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-subtitulo {
    font-size: 1.5rem;
    color: var(--primaria);
}

.mercham-premium {
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 18px;
    background: linear-gradient(
        135deg,
        rgba(79, 70, 229, 0.15),
        rgba(34, 197, 94, 0.08)
    );
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: var(--sombra);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mercham-premium ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.mercham-premium li {
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.05);
    border: 1px solid var(--vidro);
    border-radius: 10px;
}

.premium {
    padding:  6rem 2rem;
    justify-content: center;
    color: var(--primaria);
}

.premium-titulo {
    font-size: 2.5rem;
    text-align: center;
    margin-botton: 5px;
}

.premium .caixa {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  padding: 2rem;
}

.premium:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(79,70,229,.3);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--primaria);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: justify;
    font-size: 1.2rem;
    text-justify: inter-word;
    line-height: 1.6;
}

.projetos {
    padding: 6rem 2rem;
    justify-content: center;
}

.projeto-caixa {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projeto-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projeto-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    color: var(--primaria);
}

.projeto-imagem {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.painel-status {
  margin-top: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.barra-container {
  width: 50%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  margin-botton: 2rem;
}

.barra-progresso {
  width: 0%;
  height: 100%;
  background: #4caf50;
  transition: width 0.5s;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.info-projetos {
    padding: 1rem;
    margin-bottom: 5px;
}

.contato {
    padding: 6rem 2rem;
    color: var(--primaria);
}

.contato-titulo {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5px;
}

.cadastro {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
    margin-top: 2rem;
}

.contato-formulario {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
                radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
                var(--maisescuro);
}

teste {
    padding: 2rem 2rem;
    text-align: center;
}

.teste-titulo {
    font-size: 3rem;
    color: var(--primaria);
    margin-bottom: 0.5rem;
}

.teste-caixa {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 16px;
    background: rgba(255,255,255,0.05);
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
}

.teste-pergunta {
    text-align: justify;
    font-size: 15px;
    margin-bottom: 2rem;
    line-height: 1.4;
    color: var(--);
}

.pergunta-box {
    background: #ffffff;
    color: #222;
    border-left: 10px solid #0d6efd;
    border-radius: 12px;
    padding: 25px;
    margin: 0 auto 10px auto;
    max-width: 800px;
    margin-top: 0;
}

.quiz-premium {
    padding: 2rem 2rem;
    text-align: center;
}

.pergunta-box-premium {
    background: #ffffff;
    color: #222;
    border-left: 10px solid #0d6efd;
    border-radius: 12px;
    padding: 25px;
    margin: 0 auto 10px auto;
    max-width: 800px;
    margin-top: 0;
}

.ordem-premium {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid var(--vidro);
    background: linear-gradient(145deg, #ffcc00, #ff9900);
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 1 4px 10px rgba(0, 0, 0, 0.25);
    animation: girarMoeda 4s infinite linear;
} 

.teste-pergunta-premium {
    text-align: justify;
    font-size: 15px;
    margin-bottom: 2rem;
    line-height: 1.4;
    color: var(--);
}

.chave-premium {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}

.chave-premium:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}


.teste-botoes-premium {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-opcao-premium {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    transition: 0.3s;
}

.resultadoPremium {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.btn-opcao-premium:hover {
    transform: scale(1.05);
}

.painel-status-premium {
  margin-top: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.barra-container-premium {
  width: 50%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  margin-botton: 2rem;
}

.premium-login {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.botao-entrar {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    transition: all 0.5s ease;
}

.botao-entrar:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.hud-teste {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 90%;
    max-width: 1000px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    border-radius: 16px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    box-shadow: var(--sombra);

    z-index: 10;
}

.hud-teste {
    animation: aparecer 0.4s ease;
}

@keyframes girar {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.teste-botoes {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.ordem {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: linear-gradient(145deg, #ffcc00, #ff9900);
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 1 4px 10px rgba(0, 0, 0, 0.25);
    animation: girarMoeda 4s infinite linear;
} 

.moeda-questao {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: linear-gradient(145deg, #ffcc00, #ff9900);
    color: #fff;

    font-weight: bold;
    font-size: 1.2rem;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

    animation: girarMoeda 4s infinite linear;
}

@keyframes girarMoeda {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.btn-opcao {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    transition: 0.3s;
}

.btn-opcao:hover {
    transform: scale(1.05);
}

.resultado {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.final {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

@media (max-width: 768px) {
    .menu {
        gap: 0.7rem;
        flex-wrap: wrap;
    }

    .menu-link {
        font-size: 14px;
    }
}

.footer {
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    color: var(--claro);
    padding: 20px 0;
    margin-top: 40px;
    box-shadow: var(--sombra);
    transition: var(--transicao);
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 0.95rem;
    text-align: center;
    letter-spacing: 0.5px;
}
